<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="css/screen.css" media="screen"/>

	<title>$TITLE$</title>
</head>
<body>
	<h1>$TITLE$ ($YEAR$)</h1>
	<div id="info">$RUNTIME$ - $IMDBRATING$/10<br />$GENRE$</div>
	<div id="link"><a href="http://www.imdb.com/title/$IMDBID$">View on IMDb.com</a></div>
	<div id="poster"><img src="$POSTER$" /></div>
	<div id="plotfull">$PLOTFULL$</div>
	<div id="crew">
		<span id="director">Director: $DIRECTOR$</span><br />
		<span id="writer">Writer: $WRITER$</span><br />
		<span id="actors">Actors: $ACTORS$</span>
	</div>
</body>
</html>